$opaque-percentage: .3;

$accent: #FCD73F;
$accent-opaque: rgba($accent, $opaque-percentage);

$secondary: #1A4D86;
$secondary-opaque: rgba($secondary, $opaque-percentage);

$light: #fff;
$light-opaque: rgba($light, $opaque-percentage);